



.gridcontainer {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    

    width: 70%; /* Set the desired width of your container */
    margin: 0 auto; /* Set margin to auto to horizontally center the container */
    padding: 0 20%; /* Set desired padding */

}




header {
    grid-column: span 2;
    grid-row: span 1;


}

h1 {
    text-align: left;
    font-size: 3em;
    color:darkslategrey;
    font-family: 'Roboto', sans-serif;
    font-family: 'Noto Serif Display', serif;
    font-style: italic;
}



.me_img {
    grid-column: span 3;
    grid-row: span 3;
    margin-right: auto;
    width: 60%;
    border-radius: 50px;
    margin-left: 15%;
}

.me_img:hover {
    transform: scale(1.1);
}

.subtext {
    margin-top: 20%;
    grid-column: span 2;
    grid-row: span 1;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    
}

.subtext p {
    margin-top: 15px;
    font-style: italic;
    width: 100%;
}






footer {
    margin-top: 20%;
}

.footer_img {
    width: 2%;
    height: 2%;
}
