

h1, h2,  ul, .gridcontainer, footer {
    padding: 0 10%;
}


header h1 {
    font-weight: bold;
    font-style: normal;
    margin-top: 2%;
    
}


ul {
    display: inline-block;
    align-items: center;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2%;

}

ul li {
    padding: 1%;
}

nav a {
    text-decoration: none;
}


.linkSelected {
    color: lightslategrey;
}

.link {
    color: darkslategrey;
}


.link:hover {
    font-weight: bold;
    color: lightslategrey;
}




.gridcontainer {
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}




h1 {
    grid-column: span 2;
    grid-row: span 1;
    text-align: left;
    font-size: 3em;
    color:darkslategrey;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}





.me_img {
    grid-column: span 2;
    grid-row: span 3;
    margin-left: 35%;
    margin-right: auto;
    width: 80%;

    border-radius: 50px;
}

.me_img:hover {
    transform: scale(1.1);
}

.subtext {
    margin-top: 20%;
    grid-column: span 2;
    grid-row: span 1;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    
}

.subtext p {
    margin-top: 15px;
    font-style: italic;
}









footer {
    margin-top: 20%;
}

.footer_img {
    width: 2%;
    height: 2%;
}
