
html,body,div,span,h1,h2,h3,h4,h5,h6,p {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16pt;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	vertical-align: baseline;
}

 ul li {
    display: inline; /* Display the list items inline */
	list-style: none;
    list-style-type: none; /* Remove default list styling */
    margin-right: 10px; /* Add some spacing between the list items */
}

h1, h2, h3 {
    font-weight: bold;
    font-style: normal;
    margin-top: 2%;
    color:darkslategrey;
    font-family: 'Roboto', sans-serif;
    font-family: 'Noto Serif Display', serif;
    text-align: left;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1em;
}


.gridcontainer, footer {
    padding: 0 10%;
}



ul {
    list-style-type: none;
    display: inline-block;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2%;

}

nav {
    text-align: center;
}


nav a {
    text-decoration: none;
}


.linkSelected {
    color: lightslategrey;
}

.link {
    color: darkslategrey;
}


.link:hover {
    font-weight: bold;
    color: lightslategrey;
}


footer {
    margin-top: 8%;
}

.footer_img {
    width: 2%;
    height: 2%;
}


