
html,body,div,span,h1,h2,h3,h4,h5,h6,p {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16pt;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	vertical-align: baseline;
}

nav ul li {
    display: inline; /* Display the list items inline */
	list-style: none;
    list-style-type: none; /* Remove default list styling */
    margin-right: 10px; /* Add some spacing between the list items */
}


